@charset "UTF-8";
/*
body{
	background-color: #fffeee;
	background-image: url(../image/pekowallpaper2.png);
		background-repeat: no-repest;
	background-size: cover;
	
}
h1{
	color: #0bd;
}
p{
	font-size: 16px;
} */